
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
}

body, main{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

.container{
    border: solid red;
    background-color: white;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 50%;
}

.picture{
    width: 100%;
}

.text{
}

.des{
    /* position: absolute; */
    width: 50%;
}

.bg{

}

.wo{

}



.box{
    /* width: 30vh; */
}

@media only screen and (max-width: 600px) {
    .box{
        display: none;
    };
} 


