
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
}

body, main{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

.container{
    border: solid red;
    /* display: grid;
    grid-template-columns: auto auto; */
    width: 60%;
}

.des{
    width: 60vh;
}

.box{
    width: 30vh;
}



